---
import '../styles/global.css';
import { Hero34 } from '@/components/hero34'
import { Cta31 } from '@/components/cta31'
import { Community6 } from '@/components/community6'
const { content } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<meta name="description" content="Biggest Telegram Congregation" />
		<meta name="author" content="BTC" />
		<meta name="keywords" content="Telegram, BTC,Test" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	</head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
		<header class="mt-8">
		</header>
		<main class="container mx-auto px-4">
		<Hero34 client:load/>
		<Cta31 client:load/>
		<Community6 client:load/>
		</main>
		<footer>	
		</footer>
	</div>
	</body>
	<script type="text/javascript">
    window.onload = function () {
        setTimeout(function() {
            document.getElementById("body").style.display = "";        
        }, 300);
    }
	</script>
</html>